.wrapper {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: center;
  align-items: center;
}

.wrapper_text {
  color: #000000;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1.25rem;
  text-align: center;
}

.wrapper_image {
  text-align: center;
  color: #c04cea;
  font-weight: 900;
  font-size: 18rem;
}

.wrapper_button {
  background-color: #c04cea;
  border-radius: 0.5rem;
  border: 1px solid #c04cea;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0.625rem 1rem;
  text-align: center;
  transition: all 0.2s linear;
  text-decoration: none;
}

.wrapper_button:hover {
  background-color: #ffffff;
  color: #c04cea;
}